Source: systune
Maintainer: Sudip Mukherjee <sudipm.mukherjee@gmail.com>
Section: admin
Priority: optional
Standards-Version: 4.5.0
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 12)
Vcs-Git: https://github.com/sudipm-mukherjee/systune.git
Vcs-Browser: https://github.com/sudipm-mukherjee/systune.git

Package: systune
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, lsb-base
Description: kernel tuning through the /proc file system
 This program writes kernel parameters, previously saved in a configuration
 file, to the /proc filesystem.  This enables kernel performance to be
 adjusted without recompiling the kernel.
 .
 systune can be alternative to sysctl(8). It is also started after the most
 daemons and other init.d scripts, so it can be used as "second stage" sysctl.
